@page
@model Core3Identity.WebUI.Pages.RoleAdmin.ManageUsersModel
@{
    ViewData["Title"] = "Manage User Roles";
}

<div class="bg-primary m-1 p-1 text-white"><h4>Edit Role</h4></div>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.RoleUserViewModel.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.RoleUserViewModel.Role.Id" />

    <h6 class="bg-info p-1 text-white">Add To @Model.RoleUserViewModel.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.RoleUserViewModel.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">All Users Are Members</td></tr>
        }
        else
        {
            @foreach (Core3IDUser user in Model.RoleUserViewModel.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="IdsToAdd" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>

    <h6 class="bg-info p-1 text-white">Remove From @Model.RoleUserViewModel.Role.Name</h6>
    <table class="table table-bordered table-sm">
        @if (Model.RoleUserViewModel.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users Are Members</td></tr>
        }
        else
        {
            @foreach (Core3IDUser user in Model.RoleUserViewModel.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="IdsToDelete" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/RoleAdmin/Index" class="btn btn-secondary">Cancel</a>
</form>